Source: django-ucamprojectlight
Maintainer: UIS Information Systems Group, University of Cambridge <information-systems@ucs.cam.ac.uk>
Uploaders: Matthew Vernon <mcv21@cam.ac.uk>,
	   Abraham Martin <amc203@cam.ac.uk>
Section: python
Priority: optional
Build-Depends: python-setuptools, python-all (>= 2.6.6-3), debhelper (>=9)
Standards-Version: 3.9.4

Package: python-django-ucamprojectlight
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Cambridge University "Project Light" theme for Django
 This package allows the django developer to include the University of
 Cambridge's Project Light theme in their Django apps.
